.body
{
  background-color:#D22027;
  width: 1000px;
  height: 1000px;
}

#title{
  font-size: 90px;
  color: black;
  text-align: center;
  font-family: monospace;
}

#enter{
  font-size: 60px;
  color: black;
  text-align: center;
  font-family: monospace;
  width: 20%;
  border: 3px solid black;
  background-color: white;
  position: absolute;
  left: 40%;
}

#enter:hover{
  font-size: 60px;
  color: #D22027;
  text-align: center;
  font-family: monospace;
  border: 3px solid #D22027;
  background-color: white;
  cursor: pointer;
}

#mainpic{
  width: 40%;
  height: 40%;
  align: center;
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 200px;
}

#dream{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#date{
  font-size: 30px;
  color: black;
  margin-left:360px;
  font-family: monospace;
}

#diary{
  font-size: 25px;
  color: black;
  margin-left:360px;
  width: 50%;
  font-family: monospace;
}
